.dockContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 10px 15px;
  border-radius: 20px;

  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);

  outline: 1px solid #11111114;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.dock {
  display: flex;
  gap: 8px;
}
