/* src/components/TopMenu.module.css */
.topMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  background: transparent;
  color: #fff;
  font-size: 0.8rem;
  padding: 2px 10px;
  z-index: 1000;
  user-select: none;
  width: 100%;
  font-weight: 600;
}

.menuItems {
  display: flex;
  align-items: center;
  height: 100%;
}

.menuItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  position: relative;
  cursor: default;
  color: #fff;
  font-weight: 600;
}

.menuItem:hover,
.menuItem.active {
  background-color: #e6e6e6;
  color: #111;
  border-radius: 15px;
}

.menuDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  background-color: #fff;
  color: #111;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  margin-top: 6px;
  padding: 2px;
}

.menuDropdown .menuItem {
  padding: 4px 8px;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: #111;
}

.menuItemLabel {
  flex: 1;
}

.menuItemShortcut {
  color: #888;
  margin-left: 20px;
}

.menuItemArrow {
  margin-left: 10px;
  font-size: 8px;
}

.menuDivider {
  height: 1px;
  background-color: #ddd;
  margin: 5px 0;
}

.submenu {
  position: absolute;
  top: -6px;
  left: 100%;
  min-width: 180px;
  background-color: #fff;
  color: #111;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1002;
  display: none;
  overflow: hidden;
  color: #fff;
  background: transparent;
}

.menuItem:hover > .submenu {
  display: block;
}

.menuRight {
  display: flex;
  align-items: center;
}

.statusItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dateTime {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.time {
  font-weight: 500;
}
